body {
	margin:0;
	padding:0;
	width: 100%;
	height: 100%;
	border: #808080;
	float: left;
	z-index: 1;
}

/* 垂直导航栏 */
.ver {
	float:left;
	margin-right: 0;
	padding: 0;
	height: 100%;
	width: 11%;
	text-align: left;
	background-color: #FFFFFF;
	z-index: 3;
}

.ver ul {
	margin: 0;
	padding: 0;
	text-align: right;
	list-type: none; 
	line-height: 3.5em;
}


.ver a {
	display: block; 
	width: 9em; 
	margin-top: 1em;
	text-align: center;
	text-decoration: none;
	font-size:12px;
	font-family: "华文中宋" ;
	color: #808080;
}

/* 突出显示当前选中的元素 */
.ver a:hover {
	border-style:1px solid grey;
	-webkit-filter: drop-shadow(10px 10px 10px rgba(0,0,0,.5));
	border-radius:5px;;
	margin-left: 2px;
	color: #9932CC;
	font-size: 13px;
}

/* 水平导航栏 */
.hor {
	float: left;
    height: 40px;
    width: 89%;
	background-color: #3c3c3c;
	text-align: left;
	z-index: 2;
	
}

.hor ul {
    margin: 0;
	padding: 0;
    list-style-type: none; 
    display: inline-block;
}

.hor ul .nav1{
	margin-left:120px;
}

.hor ul li {
	position:relative;
	float: left;
	margin-left:30px;
}


.hor a {
    display:block;
    width: 9em;
    height: 3em;	
    line-height: 3.5em;
    text-decoration: none;
	text-align: center;
	color: lightgray;
	font-size: 12px;
}

.hor a:hover {
	color:white;
}

.hor ul .status .wrap:hover .userInfo{
	background: transparent;
	color: darkcyan;
}

.hor input[type=submit]{
	float:right;
	margin-top: 5px;
	margin-right: 30px;
	background-color: transparent;
	font-size: 10px;
	border: none;
	cursor: pointer;
	color:lightgray;
}

.hor input::-moz-placeholder{
	color: #FFFFFF;
}

/* 包含搜索框，搜索图标，提交按钮div */
.search{
	float: right;
	width: 20em;
	margin-top: 10px;
	z-index: 1;
}

/* 包含搜索图标的div */
.sear1{                
	float: right;
	width: 5px;
	height: 5px;
	padding: 0;
	z-index: 3;
}

/* 搜索框div */
.sear2{
	z-index: 2;
}

/* 搜索框 */
.text{
	float: right;
	width: 15em;
	padding: 5px;
	padding-left: 2em;
	border-style: none;
	font-size: 10px;
	border: 1px solid grey;
	border-radius:3px;
	background-color: transparent;
	caret-color:white;
	
}
/* 选中搜索框时 */
.text:focus{
		border-color: aliceblue;
		outline: 0;
		color: #FFFFFF;
}

/* 01图片 */
.brand{
	height: 53px;
	width: 58px;
	margin-top: .6em;
	-webkit-filter: drop-shadow(4px 4px 4px lightgray);
	border-radius:5px;
}

/* 02图片 */
.other{
	height: 30px;
	width: 45px;
	margin-top: .6em;
	margin-left: 45px;
	float: right;
}

/* 图标 */
.icon{
	float: left;
	width: 27px;
	height: 30px;
	margin-top: 14px;
	margin-left: 18px;
	margin-right: 7px;
}

/* 退出登录图标 */
.exit{
	float: left;
	width: 24px;
	height: 26px;
	margin-top: 17px;
	margin-left: 33px;
	margin-right: 0;
}

#exit{
	font-size: 11px;
	list-style: none;
	position: absolute;
	left: 0;
	bottom: 0;
}

#searchicon{
	width: 2em;
	height: 2em;
	margin-left: 3px;
	padding: 0;
}
/* 用户信息，包括头像、登录状态 */
.user{
	float: right;
	width: 10em;
	height: 4em;
	margin-left: 3em;
	padding-top:6px;
}
/* 头像上传 */
#portrait{
	opacity:0; 
	filter:alpha(opacity=0); 
	height: 15px; 
	width: 15px;
	position: absolute;
	top: 0;
	left: 0; 
	z-index: 9;
}

/* 头像大小、形状 */
#img{
	width: 30px;
	height: 30px;
	border:1px #D3D3D3;
	border-radius:30%;
	overflow: hidden;
}

#headimg{
	width:1em;
	position: absolute;
	border:none;
}

/* 下拉菜单 */
.status{
	letter-spacing:6px;
	border: none;
	background-color: #3C3C3C;
}

/*下拉菜单没有鼠标划过的样式*/
.userInfo{
	position:relative;
	padding-bottom: 20px;
}

/*小角样式*/
.hor ul .status .wrap:hover .userInfo{
	background: transparent;
	color: #0A9CD2;
}
b{
	position:absolute;
	top:21px;
	right:15px;
	border-width:5px;
	border-style: solid dashed dashed;
	border-color: #bbb transparent transparent;
}

/*点击切换样式*/
.hor ul .status:hover .userInfo b{
   transform:rotate(180deg);
   transform-origin:50% 25%;
   transition: transform .2s ease-in;
}

/*隐藏下拉菜单样式*/
.toggle{
	display:none;
	position:absolute;
	left:15px;
	top:28px;
	width: 81px;
	padding: 0;
	z-index: 3;
	background-color: #3C3C3C;
}

.toggle .box a{
	display:block;
	text-align: center;
	cursor: pointer;
	width: 80px;
	height: 30px;
	border-style: nono;
	border-bottom: 1px solid #808080;
	color: whitesmoke; 
}

/*控制显示与隐藏*/
.hor ul .status :hover .toggle{
	display: block;
}

.toggle .box a:hover{
	color: cornflowerblue;
}

#ana{
	width: 89%;
	height:95% ;
	border-style: none;
	background-color: #f3edfd;
	position: absolute;
	top: 40px;
	right:0 ;
	bottom: 0;
	margin: 0;
	z-index: 1;
}