<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CourseMapper">
    <insert id="addCourse" parameterType="Integer">
        insert into course(course_no,course_name,credit,period)
        values (#{course.courseNo},#{course.courseName},#{course.credit},#{course.period})
    </insert>
</mapper>