<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lianfang.mapper.StudentCommonGradeMapper" >
  <resultMap id="BaseResultMap" type="com.example.lianfang.entity.StudentCommonGrade" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <id column="item" property="item" jdbcType="VARCHAR" />
    <result column="common_grade" property="commonGrade" jdbcType="REAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, item, common_grade
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.example.lianfang.entity.StudentCommonGradeKey" >
    select 
    <include refid="Base_Column_List" />
    from student_common_grade
    where id = #{id,jdbcType=VARCHAR}
      and item = #{item,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.lianfang.entity.StudentCommonGradeKey" >
    delete from student_common_grade
    where id = #{id,jdbcType=VARCHAR}
      and item = #{item,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.example.lianfang.entity.StudentCommonGrade" >
    insert into student_common_grade (id, item, common_grade
      )
    values (#{id,jdbcType=VARCHAR}, #{item,jdbcType=VARCHAR}, #{commonGrade,jdbcType=REAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.lianfang.entity.StudentCommonGrade" >
    insert into student_common_grade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="item != null" >
        item,
      </if>
      <if test="commonGrade != null" >
        common_grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="item != null" >
        #{item,jdbcType=VARCHAR},
      </if>
      <if test="commonGrade != null" >
        #{commonGrade,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.lianfang.entity.StudentCommonGrade" >
    update student_common_grade
    <set >
      <if test="commonGrade != null" >
        common_grade = #{commonGrade,jdbcType=REAL},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
      and item = #{item,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.lianfang.entity.StudentCommonGrade" >
    update student_common_grade
    set common_grade = #{commonGrade,jdbcType=REAL}
    where id = #{id,jdbcType=VARCHAR}
      and item = #{item,jdbcType=VARCHAR}
  </update>
</mapper>