<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.lianfang.mapper.WorkAttendingMapper" >
  <resultMap id="BaseResultMap" type="com.example.lianfang.entity.WorkAttending" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <id column="which_subject" property="whichSubject" jdbcType="VARCHAR" />
    <id column="which_time" property="whichTime" jdbcType="INTEGER" />
    <result column="is_attend" property="isAttend" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, which_subject, which_time, is_attend
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.example.lianfang.entity.WorkAttendingKey" >
    select 
    <include refid="Base_Column_List" />
    from work_attending
    where id = #{id,jdbcType=VARCHAR}
      and which_subject = #{whichSubject,jdbcType=VARCHAR}
      and which_time = #{whichTime,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.example.lianfang.entity.WorkAttendingKey" >
    delete from work_attending
    where id = #{id,jdbcType=VARCHAR}
      and which_subject = #{whichSubject,jdbcType=VARCHAR}
      and which_time = #{whichTime,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.lianfang.entity.WorkAttending" >
    insert into work_attending (id, which_subject, which_time, 
      is_attend)
    values (#{id,jdbcType=VARCHAR}, #{whichSubject,jdbcType=VARCHAR}, #{whichTime,jdbcType=INTEGER}, 
      #{isAttend,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.lianfang.entity.WorkAttending" >
    insert into work_attending
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="whichSubject != null" >
        which_subject,
      </if>
      <if test="whichTime != null" >
        which_time,
      </if>
      <if test="isAttend != null" >
        is_attend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="whichSubject != null" >
        #{whichSubject,jdbcType=VARCHAR},
      </if>
      <if test="whichTime != null" >
        #{whichTime,jdbcType=INTEGER},
      </if>
      <if test="isAttend != null" >
        #{isAttend,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.lianfang.entity.WorkAttending" >
    update work_attending
    <set >
      <if test="isAttend != null" >
        is_attend = #{isAttend,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
      and which_subject = #{whichSubject,jdbcType=VARCHAR}
      and which_time = #{whichTime,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.lianfang.entity.WorkAttending" >
    update work_attending
    set is_attend = #{isAttend,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
      and which_subject = #{whichSubject,jdbcType=VARCHAR}
      and which_time = #{whichTime,jdbcType=INTEGER}
  </update>
</mapper>